In [1]:
import numpy as np
import pandas as pd
import os
import sys
import pickle
import time
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from importlib import reload

In [2]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 999

In [4]:
cwd = os.getcwd()
ratings = pd.read_csv(os.path.join(cwd, "..", "data", "ratings.csv"))
ratings.drop('timestamp', axis=1, inplace=True)

In [7]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [8]:
movie_summary = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())

In [9]:
movie_summary.head()

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429

In [10]:
movie_summary['num_ratings'] = ratings.groupby('movieId')['rating'].count()

In [11]:
movie_summary.head()

           rating  num_ratings
movieId
1        3.920930          215
2        3.431818          110
3        3.259615           52
4        2.357143            7
5        3.071429           49